/*
style.css
---------

Par Bryan D.

*/

body {
  margin: 0;
}

.quiz-area{
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  font-family: 'Oswald', sans-serif;
  background-image: url("../images/world.gif");
  background-size: cover;
}

.quiz-title{
  text-align: center;
  color: cornsilk;
}

.flashcards-board{
  display: grid;
  grid-template-rows: 150px 150px 150px 150px 150px 150px;
  grid-template-columns: 150px 150px 150px 150px 150px 150px;
  justify-content: center;
}

.card{
  display: inline-block;
  margin-right:50px;
  margin-bottom: 50px;
  text-align: center;
  position: relative;
  transition: all 1s linear;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.card_content_front,
.card_content_back{
    height: 100%;
    width: 100%;
}

.card_content_front{
    z-index: 2;
    background: #F4E4D7;
    color: #FF911F;
    border-radius: 10px;
}

.card_content_back{
    z-index: 1;
    background: #FF911F;
    color: #F4E4D7;
    border-radius: 10px;
    transform: rotateY(180deg);
}

.card:hover{
    transform: rotateY(180deg);
}

.smooth_flip {
    position: absolute;
    backface-visibility: hidden;
}
